{% macro displayNewsSourcesList(source_list) %}
    {% for source in source_list %}
        <h5> {{source.source_name}} </h5>
    {% endfor %}
{% endmacro %}

<!--Displaying articles of a given sources-->
{% macro displayArticles(article_list)%}
    {% for article in article_list %}
        <h3>{{article.article_title}}</h3>
        <img src={{article.article_image}} alt={{article.article_title}} width="100" height="100">
        <a href={{article.article_url}} target="_blank"> Read More</a>
    {% endfor %}
{% endmacro%}
    
